.container{
    .row{
        .photos{
            .image{
                margin-top: 40px;
                width: 200px;
                height: 200px;
              
            }
             
        }
        .product{
            border-bottom: 10px solid black;
            border-left: 10px solid black;
            border-right: 10px solid black;
            border-top: 10px solid black;
            margin-top: 40px;
          .title{
              font-size: 20px;
          }
          .title:hover{
              color: rgb(52, 52, 85);
              font-size: 23px;
          }
          .price{
              font-size: 15px;
              margin-top: 5px;
              padding: 0;
              color: rgb(96, 138, 139);
          }
          .price:hover{
              font-size: 20px;
              color: rgb(36, 36, 213);

          }
            .model{
                font-size: 25px;
                .brand{
                    margin-top: 20px;
                    font-size: 25px;
                    list-style: none;
                    .markas{
                        color: cornflowerblue;
                        margin-left: 60px;
                        font-size: 20px;
                        
                    }
                    
                }


                
            }
            hr{
                width: 300px;
                color:  rgb(75, 63, 63);
            }
            hr:hover{
              height: 15px;
                width: 400PX;
            }
            form{
                label{
                    font-size: 20px;
                    
                }
                input{
                    background-color: rgb(191, 208, 208);
                    margin-top: 20px;
                    margin-left: 30px;
                }
               
                
             
            }
            a{
            
                color: black;
                text-decoration: none;
                margin-left: 440px;
                 font-size: 25px;
               
            }
            a:hover{
                color:  blue;
                text-decoration: underline solid rgb(201, 201, 201);
                
            }
        }
    }
}